<h2>Welcome to DIY Bootcamp</h2>
<p>The goal of DIY Bootcamp is to guide you through 60 days of a simulated Army bootcamp at home. Each day you should attempt to complete at least 20 minutes of cardio activity and record the maximum number of pushups, crunches, squats, and squatjacks that you can complete in 5 minute rounds per exercise. Be sure to log your drills and user information everyday and use the calorie logs to compare calories consumed to calories burned.</p>
<p>To begin <a href="/profiles/new">Create / edit your user profile.</a></p>
<p>You can also <a href="/stats/new">Enter your daily information</a> or <a href="/drills/new">Log a new Drill</a></p>



<p> Way to go, <%= @user.username %>! So far you've sucessfully logged the following drills:</p>
 <% @user.drills.each do |drill| %>
   <ul>
    <li><a href="/drills/<%=drill.id%>">Drill Number: <%= drill.day %></a></li>
   </ul>
<% end %>
<p>Log <%= 60 - @user.drills.size %> more days to complete the challenge!</p>

<p> Here is a log of your daily weight:</p>
 <% @user.stats.each do |stat| %>
   <ul>
    <li><a href="/stats/<%=stat.id%>">Day Number:<%= stat.day %> Weight: <%= stat.weight %>lbs</a></li>
   </ul>
<% end %>
