<p> Here are your completed Drills, <%= @user.username %>
 <% @user.drills.each do |drill| %>
   <ul>
    <li>Cardio <a href="/drills/<%=drill.id%>"><%= drill.cardio %></a></li>
    <li>Pushups <a href="/drills/<%=drill.id%>"><%= drill.pushups %></a></li>
    <li>Squats <a href="/drills/<%=drill.id%>"><%= drill.squats %></a></li>
    <li>Crunches <a href="/drills/<%=drill.id%>"><%= drill.crunches %></a></li>
    <li>Squatjacks <a href="/drills/<%=drill.id%>"><%= drill.squatjacks %></a></li>
   </ul>
<% end %>
