<h1>Great job, <%= current_user.username %>! Here are your completed Drills:</h1>
 <% current_user.drills.each do |drill| %>
   <h3>Day Number: <%= drill.day %>-<a href="drills/<%= drill.id%>">View/Edit</a> - <a href="/users/<%= drill.user %>"><%= drill.user.username %></a></h3>
<% end %>
<br><br>
<a href="/drills/new">Create Drill</a>
