<h3>Day Number: <%= @stat.day %></h3>
<h3>Weight: <%= @stat.weight %> lbs</h3>
<h3>Calories Consumed: <%= @stat.calories %></h3>


 <br><br>
 <form action="/stats/<%= @stat.id %>/delete" method="post">
   <input id="hidden" type="hidden" name="_method" value="DELETE">
   <input type="submit" value="Delete Stat">
</form>
<br>
<form action="/stats/<%= @stat.id %>/edit" method="get">
  <input type="submit" value="Edit Stat">
</form>
